#answer{
    height:max-content;
    width: max-content;
    background: #32ff81;
    position: fixed;
    bottom:50px;
    right:0px; 
    z-index: 100;
    max-width: 40%;
    max-height: 70%;
    padding: 20px; 
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: -4px 14px 29px 2px rgba(0,0,0,0.48);
    -moz-box-shadow: -4px 14px 29px 2px rgba(0,0,0,0.48);
    box-shadow: -4px 14px 29px 2px rgba(0,0,0,0.48);
}
 

#show,#hide{
    height:100%;
    display: block;
    padding: 5px;
    
}
 

#showHide{
    background-color: rgb(255, 94, 94);
    position: fixed;
    bottom:55px; 
    right:20px; 
    height: 30px; 
    color:white;
    font-weight: bold;
    z-index: 110; 
    -webkit-box-shadow: -4px 14px 29px 2px rgba(0,0,0,0.48);
    -moz-box-shadow: -4px 14px 29px 2px rgba(0,0,0,0.48);
    box-shadow: -4px 14px 29px 2px rgba(0,0,0,0.48);

}
 
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
